<ion-header>
  <ion-toolbar>

    <ion-title>
      Teilnehmer-Detail
    </ion-title>

    <ion-buttons slot="start">
      <!--style="padding-right: 50pt"-->
      <button ion-button icon-only (click)="times()">
        <ion-icon name="calendar"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons slot="end">
      <button ion-button icon-only (click)="next()">
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content padding has-subheader>
  <ion-card>
    <ion-card-header>
      <div style="text-align: center">
        <h3 title>{{time.summary}}</h3>
        <h3 title>{{time | timeformat}}, {{time.period}}. Stunde</h3>
        <h2 title>{{record.name}}</h2>
      </div>
    </ion-card-header>
    <ion-item>
      <ion-label fixed>Anwesend</ion-label>
      <ion-toggle item-start [(ngModel)]="present"></ion-toggle>
    </ion-item>
    <ion-item *ngIf="!present">
      <ion-label>Abwesenheit entschuldigt</ion-label>
      <ion-checkbox item-start [(ngModel)]="excuse"></ion-checkbox>
    </ion-item>
    <ion-item *ngIf="present">
      <!-- style="padding-top: 20pt"  -->
      <!--<ion-label>Mitarbeit</ion-label>-->
      <ion-segment [(ngModel)]="grade">
        <ion-segment-button *ngFor="let gv of grades" value="{{gv.value}}" [hidden]="!gv.evaluative">
          <!--<ion-item style="font-size: 20pt" text-center>{{gv.display}}</ion-item>-->
          <ion-icon name="{{gv.icon}}"></ion-icon>
        </ion-segment-button>
      </ion-segment>
    </ion-item>
    
    <ion-item>
      <button ion-button item-right icon-start round color="light" (click)="addNote()">
        <ion-icon name="create"></ion-icon>
        <label style="padding-left: 5px;">Notiz</label>
      </button>
    </ion-item>

  </ion-card>

  <ion-card *ngFor="let note of record.notes; let i = index" [style.border-radius]="'5px'">
    <ion-item *ngIf="!note.isImage()">
      <!-- [style.background-color]="'#ffe0c0'" -->
      <ion-textarea autoresize placeholder="Notiz" [(ngModel)]="note.text" (input)="note.updateHints($event)"
        class="sphairas-text" rows="1" [style.resize]="note.text === '' ? 'none' : 'both'">
      </ion-textarea>
      <button *ngIf="note.text === ''" ion-button item-right icon-start round color="light" (click)="note.setImage()"
        class="note-camera-button">
        <ion-icon name="camera"></ion-icon>
      </button>
    </ion-item>
    <ion-item *ngIf="note.isImage()">
      <ion-img src="{{note.text}}"></ion-img>
    </ion-item>
    <ion-item *ngFor="let hint of note.hints" (click)="note.useHint(hint)">
      <h2>{{hint}}</h2>
    </ion-item>
    <ion-item>
      <button ion-button item-left icon-start round small color="light" (click)="note.remove()">
        <ion-icon name="trash"></ion-icon>
        <label style="padding-left: 5px;">Löschen</label>
      </button>
      <span>Zuletzt geändert: {{note.time}}</span>
    </ion-item>
  </ion-card>
</ion-content>