<ion-header>
  <ion-toolbar>
    <ion-title>An einem sphairas-Server anmelden</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="!serverName">
    <ion-item class="form-field" id="urlinput">
      <ion-label>Servername:</ion-label>
      <span>https://</span>
      <ion-input type="url" placeholder="example.sphairas.de" [formControl]="serverNameForm"></ion-input>
    </ion-item>
    <ion-item class="form-buttons">
      <ion-button class="button button-primary" (click)="proceed()" [disabled]="!serverNameForm.valid">Weiter
      </ion-button>
    </ion-item>
  </div>

  <div *ngIf="serverName">
    <form [formGroup]="passwordForm">
      <ion-item class="form-field">
        <ion-label>Benutzername:</ion-label>
        <ion-input formControlName="account"></ion-input>
      </ion-item>
      <ion-item class="form-field">
        <label>Passwort:</label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>
      <ion-item class="form-buttons">
        <ion-button class="button button-primary" (click)="login()">Anmelden</ion-button>
      </ion-item>
      <ion-item class="form-buttons">
        <ion-button class="button button-primary" (click)="logout()">Logout</ion-button>
      </ion-item>
    </form>`
  </div>
</ion-content>