<ion-header>
  <ion-toolbar>
    <ion-title>{{time | async | timeformat}}, {{(time | async)?.period}}. St., {{(time | async)?.summary}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-group>
    <!--<ion-item-divider  style="font-size: 14pt"></ion-item-divider>-->

    <ion-item>
      <!-- <ion-label stacked>Thema</ion-label> -->
      <ion-textarea autoresize placeholder="Thema der Stunde" [formControl]="summary" class="sphairas-text"></ion-textarea>
    </ion-item>

    <ion-item-divider class="records-list-header">
      <ion-label>
        <h2>Teilnehmerliste</h2>
      </ion-label>
    </ion-item-divider>

    <ion-item *ngFor="let record of items | async; let i = index" (click)="onSelect(record, i)">
      <ion-label>
        <h2>{{record.name}}</h2>
      </ion-label>
      <ion-note slot="end">
        OK
      </ion-note>
    </ion-item>

  </ion-item-group>
</ion-content>