<ion-header>
  <ion-toolbar>

    <ion-title>
      Teilnehmer-Detail
    </ion-title>

    <ion-buttons slot="start">
      <!--style="padding-right: 50pt"-->
      <ion-button icon-only (click)="times()">
        <ion-icon slot="icon-only" name="calendar"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button icon-only fill="clear" (click)="next()">
        <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content padding has-subheader>
  <ion-card>
    <ion-card-header>
      <div style="text-align: center">
        <ng-container *ngIf="_time | async as time; else loading">
          <h3 title>{{time.text}}</h3>
          <h3 title>{{time | timeformat}}, {{time.period}}. Stunde</h3>
        </ng-container>
        <ng-template #loading>Warte...</ng-template>
        <h2 title>{{(_record | async)?.name}}</h2>
      </div>
    </ion-card-header>

    <form [formGroup]="gradeForm">
      <ion-item>
        <ion-label fixed>Anwesend</ion-label>
        <ion-toggle item-start formControlName="present" (ionChange)="onSubmitGrade()"></ion-toggle>
      </ion-item>
      <ion-item *ngIf="!gradeForm.value.present">
        <ion-label>Abwesenheit entschuldigt</ion-label>
        <ion-checkbox item-start formControlName="excuse" (ionChange)="onSubmitGrade()"></ion-checkbox>
      </ion-item>
      <ion-item *ngIf="gradeForm.value.present">
        <!-- style="padding-top: 20pt"  -->
        <!--<ion-label>Mitarbeit</ion-label>-->
        <ion-segment scrollable formControlName="grade" (ionChange)="onSubmitGrade()">
          <ion-segment-button *ngFor="let g of grades" value="{{g.value}}">
            <mat-icon *ngIf="g.icon; else noIcon" svgIcon="{{g.icon}}"></mat-icon>
            <ng-template #noIcon>
              <ion-item style="font-size: 20pt" text-center>{{g.label}}</ion-item>
            </ng-template>
          </ion-segment-button>
        </ion-segment>
      </ion-item>
    </form>

  </ion-card>

  <ion-card *ngIf="_record | async as record">
    <mat-form-field style="width: 100%; padding: 10px;">
      <mat-chip-list #tagList aria-label="Tags">
        <mat-chip *ngFor="let tag of record.tags" removable="true" (removed)="onRemoveTag(tag)">
          {{tag.label ? tag.label : tag.id}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input placeholder="Tags..." #tagsInput [formControl]="tagsControl" [matAutocomplete]="auto"
          [matChipInputFor]="tagList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          (matChipInputTokenEnd)="onAddTag($event)">
      </mat-chip-list>
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="labelForTag" (optionSelected)="selected($event)">
        <mat-option *ngFor="let hint of filteredHints | async" [value]="hint">
          {{hint.label}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </ion-card>

  <ng-container *ngIf="_record | async as record">
    <ng-container *ngFor="let note of record.notes">
      <record-note [note]="note" (onTextChange)="updateTextNote(note, $event)" (onRemove)="removeNote($event)"></record-note>
    </ng-container>
  </ng-container>

  <ion-toolbar>
    <ion-buttons slot="end">

      <ion-button shape="round" (click)="addImageNote()">
        <ion-icon slot="icon-only" name="camera-outline"></ion-icon>
      </ion-button>

<!--       <ion-button shape="round" (click)="addVoiceNote()">
        <ion-icon slot="icon-only" name="recording-outline"></ion-icon>
      </ion-button> -->

      <ion-button shape="round" (click)="addTextNote()">
        <ion-icon slot="icon-only" name="create-outline"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>

</ion-content>