<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Unterricht
    </ion-title>

    <ion-buttons slot="end">
      <ion-button icon-only fill="clear" [routerLink]="['/settings']">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>

    <ion-item *ngIf="(lessons | async)?.size === 0 || true">
      Kein Unterricht
    </ion-item>
    <ion-item *ngFor="let lesson of lessons | async" routerLink='/tabs/lessons/{{lesson.id}}' routerDirection="forward">
    </ion-item>

  </ion-list>

</ion-content>